In [2]:
import pandas as pd

In [4]:
import numpy as np

In [6]:
import matplotlib.pyplot as plt

In [8]:
df=pd.read_csv('canada.csv')

In [10]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,1999-12-31,8399.099609,8413.799805,8379.200195,8413.799805,8413.799805,21459900.0
1,2000-01-03,8413.799805,8413.799805,8413.799805,8413.799805,8413.799805,0.0
2,2000-01-04,8271.700195,8305.900391,8157.600098,8202.599609,8202.599609,59509800.0
3,2000-01-05,8100.200195,8147.200195,8018.600098,8119.399902,8119.399902,94545700.0
4,2000-01-06,8137.000000,8186.399902,8075.700195,8114.200195,8114.200195,79690100.0
...,...,...,...,...,...,...,...
4814,2018-12-20,14244.700195,14341.700195,14075.900391,14141.799805,14141.799805,308247100.0
4815,2018-12-21,14161.799805,14220.900391,13924.400391,13935.400391,13935.400391,614345800.0
4816,2018-12-24,13857.799805,13924.000000,13776.900391,13780.200195,13780.200195,170610500.0
4817,2018-12-27,14018.000000,14165.500000,13918.299805,14165.200195,14165.200195,235414700.0
4818,2018-12-28,14234.200195,14326.900391,14174.000000,14222.000000,14222.000000,266928600.0

In [12]:
df=df[['Date', 'Close']]

In [14]:
df

            Date         Close
0     1999-12-31   8413.799805
1     2000-01-03   8413.799805
2     2000-01-04   8202.599609
3     2000-01-05   8119.399902
4     2000-01-06   8114.200195
...          ...           ...
4814  2018-12-20  14141.799805
4815  2018-12-21  13935.400391
4816  2018-12-24  13780.200195
4817  2018-12-27  14165.200195
4818  2018-12-28  14222.000000

[4819 rows x 2 columns]

In [16]:
df.isnull().sum()

Date      0
Close    20
dtype: int64

In [18]:
df['Date']=pd.to_datetime(df['Date'],errors='coerce')

C:\Users\DELL\AppData\Local\Temp\ipykernel_16276\138852243.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date']=pd.to_datetime(df['Date'],errors='coerce')

In [22]:
df['Close']=pd.to_numeric(df['Close'], errors='coerce')

C:\Users\DELL\AppData\Local\Temp\ipykernel_16276\1855887653.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Close']=pd.to_numeric(df['Close'], errors='coerce')

In [26]:
df.isnull().sum()

Date      0
Close    20
dtype: int64

In [28]:
df=df.dropna()

In [30]:
df.isnull().sum()

Date     0
Close    0
dtype: int64

In [32]:
df.sort_values(by='Date',ascending=True,inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_16276\3474248803.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.sort_values(by='Date',ascending=True,inplace=True)

In [34]:
df

           Date         Close
0    1999-12-31   8413.799805
1    2000-01-03   8413.799805
2    2000-01-04   8202.599609
3    2000-01-05   8119.399902
4    2000-01-06   8114.200195
...         ...           ...
4814 2018-12-20  14141.799805
4815 2018-12-21  13935.400391
4816 2018-12-24  13780.200195
4817 2018-12-27  14165.200195
4818 2018-12-28  14222.000000

[4799 rows x 2 columns]

In [36]:
df['Log Return'] = np.log(df['Close']/df['Close'].shift(1))

C:\Users\DELL\AppData\Local\Temp\ipykernel_16276\562328376.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Log Return'] = np.log(df['Close']/df['Close'].shift(1))

In [38]:
df['Log Return']

0            NaN
1       0.000000
2      -0.025422
3      -0.010195
4      -0.000641
          ...
4814   -0.008611
4815   -0.014703
4816   -0.011200
4817    0.027555
4818    0.004002
Name: Log Return, Length: 4799, dtype: float64

In [40]:
bin_no= 12

In [42]:
max_log_return = df['Log Return'].max()

In [44]:
min_log_return = df['Log Return'].min()

In [46]:
max_log_return

np.float64(0.0937023427012818)

In [48]:
min_log_return

np.float64(-0.09787850819975054)

In [52]:
bin_width=(max_log_return - min_log_return)/bin_no

In [54]:
bin_width

np.float64(0.015965070908419362)

In [60]:
bin_edges = np.arange(min_log_return, max_log_return + bin_width, bin_width)

In [62]:
bin_edges

array([-0.09787851, -0.08191344, -0.06594837, -0.0499833 , -0.03401822,
       -0.01805315, -0.00208808,  0.01387699,  0.02984206,  0.04580713,
        0.0617722 ,  0.07773727,  0.09370234])

In [64]:
df['Interval'] = pd.cut(df['Log Return'], bins=bin_edges, include_lowest=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_16276\351988089.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Interval'] = pd.cut(df['Log Return'], bins=bin_edges, include_lowest=True)

In [70]:
df['Interval']

0                       NaN
1        (-0.00209, 0.0139]
2         (-0.034, -0.0181]
3       (-0.0181, -0.00209]
4        (-0.00209, 0.0139]
               ...
4814    (-0.0181, -0.00209]
4815    (-0.0181, -0.00209]
4816    (-0.0181, -0.00209]
4817       (0.0139, 0.0298]
4818     (-0.00209, 0.0139]
Name: Interval, Length: 4799, dtype: category
Categories (12, interval[float64, right]): [(-0.0989, -0.0819] < (-0.0819, -0.0659] < (-0.0659, -0.05] < (-0.05, -0.034] ... (0.0298, 0.0458] < (0.0458, 0.0618] < (0.0618, 0.0777] < (0.0777, 0.0937]]

In [72]:
interval_frequencies = df['Interval'].value_counts().sort_index()

In [74]:
interval_frequencies

Interval
(-0.0989, -0.0819]        4
(-0.0819, -0.0659]        3
(-0.0659, -0.05]          7
(-0.05, -0.034]          23
(-0.034, -0.0181]       173
(-0.0181, -0.00209]    1475
(-0.00209, 0.0139]     2829
(0.0139, 0.0298]        241
(0.0298, 0.0458]         34
(0.0458, 0.0618]          5
(0.0618, 0.0777]          3
(0.0777, 0.0937]          1
Name: count, dtype: int64

In [78]:
total_values=len(df['Log Return'].dropna())

In [80]:
interval_probabilities = interval_frequencies/total_values

In [82]:
interval_probabilities

Interval
(-0.0989, -0.0819]     0.000834
(-0.0819, -0.0659]     0.000625
(-0.0659, -0.05]       0.001459
(-0.05, -0.034]        0.004794
(-0.034, -0.0181]      0.036057
(-0.0181, -0.00209]    0.307420
(-0.00209, 0.0139]     0.589621
(0.0139, 0.0298]       0.050229
(0.0298, 0.0458]       0.007086
(0.0458, 0.0618]       0.001042
(0.0618, 0.0777]       0.000625
(0.0777, 0.0937]       0.000208
Name: count, dtype: float64

In [84]:
entropy = -np.sum(interval_probabilities * np.log2(interval_probabilities + 1e-10))

In [86]:
entropy

np.float64(1.498100670667662)